DATABASE_URL="postgresql://VITOR:%23Joaovitor07@srv1479772.hstgr.cloud:32772/VEXOR_ENTREGAS?schema=public"
JWT_SECRET="change-me"
WINTHOR_SHARED_SECRET="change-me-winthor"
N8N_SHARED_SECRET="change-me-n8n"
